html, 
body {
    background-color: rgb(26, 26, 26);
    background-image: url(./wallpaper.jpg);
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;
    position: relative;
    height: 100%;
    color: whitesmoke;
}

.contentBox {
    display: inline-block;
    margin-bottom: 5%;
    background-color: rgb(26, 26, 26, 0.9);
    min-height: 800px;
    max-width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(234 223 203);
}

.footer.link {
    color: whitesmoke;
    text-decoration: none;
}

.footer.link:hover {
    color: rgb(0, 132, 255);
    text-decoration: underline;
}

.about.paragraph {
    max-width: 50%;
    max-height: auto;
    display: block;
    text-align: left;
    margin-inline: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 50%;
    max-height: auto;
    display: block;
    margin-inline: auto;
}

#footer-wrapper {
    height: max-content;
    position: relative;
}

#footer {
    color: whitesmoke;
    text-align: center;
    border-top: 1px;
    border-top-color: rgb(234 223 203);
    border-top-style: solid;
    background-color: rgb(26, 26, 26, 0.9);
    max-height: 80px;
    height: max-content;
    position: absolute;
    width: 100%;
    padding-top: 10px;
}